body {
    margin: 0;
    background-color: teal;
}

#console {
    width: 60vw;
    height: 50vh;
    background-color: black;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px grey solid;
    box-shadow: -2px -2px 0px 2px lightgrey, 2px 2px 0px 2px black;;
}

.console-mess {
    font-family: monospace;
    color: white;
    font-size: 14px;
    margin: 6px;
}