body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: monospace;
    overflow: hidden;
    word-wrap: break-word;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("./data/img/dung.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

#console {
    width: 60vw;
    height: 50vh;
    background-color: black;
    overflow: auto;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 16px grey solid;
    box-shadow: -2px -2px 0px 2px lightgrey, 2px 2px 0px 2px black;; */
}

.console-mess {
    font-size: 18px;
}